<!DOCTYPE html>
<!-- 
	Software Engineering Project
	Basma Chandour, Jason Diab, Emily Dugan, Michael Yin
	
	CampusBites login page
-->

{% load static %}
<html>
<head>
    <title>CampusBites Login</title>
    <meta charset="utf-8" />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
    />
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,700"
        rel="stylesheet"
        type="text/css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body data-redirect-if-authenticated="true" data-redirect-auth-target="{% url 'web-events' %}">
    <div class="container mt-5">
        <h1 class="text-center">Welcome to CampusBites</h1>
        <p class="text-center">Your one-stop solution for campus dining!</p>

        <div data-login-alerts></div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>Login</h2>
                <form data-login-form data-redirect-success="{% url 'web-events' %}">
                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                <p class="mt-3">Don't have an account? <a href="{% url 'web-register' %}">Register here</a></p>
            </div>
        </div>
    </div>
    <script src="{% static 'app.js' %}"></script>
</body>
</html>
